@model aspnet.ViewModel.PostDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<style>
    .article-clean {
        color: #56585b;
        background-color: #fff;
        font-family: 'Lora', serif;
        font-size: 14px;
    }

        .article-clean .intro {
            font-size: 16px;
            margin: 0 auto 30px;
        }

            .article-clean .intro h1 {
                font-size: 32px;
                margin-bottom: 15px;
                padding-top: 20px;
                line-height: 1.5;
                color: inherit;
                margin-top: 20px;
            }

            .article-clean .intro p {
                color: #929292;
                font-size: 12px;
            }

                .article-clean .intro p .by {
                    font-style: italic;
                }

                .article-clean .intro p .date {
                    text-transform: uppercase;
                    padding: 4px 0 4px 10px;
                    margin-left: 10px;
                    border-left: 1px solid #ddd;
                }

                .article-clean .intro p a {
                    color: #333;
                    text-transform: uppercase;
                    padding-left: 3px;
                }

            .article-clean .intro img {
                margin-top: 20px;
            }

        .article-clean .text p {
            margin-bottom: 20px;
            line-height: 1.45;
        }


        .article-clean .text h2 {
            margin-top: 28px;
            margin-bottom: 20px;
            line-height: 1.45;
            font-size: 16px;
            font-weight: bold;
            color: #333;
        }


        .article-clean .text figure {
            text-align: center;
            margin-top: 30px;
            margin-bottom: 20px;
        }

            .article-clean .text figure img {
                margin-bottom: 12px;
                max-width: 100%;
            }

    .container-border {
        border: 1px solid #ccc;
        border-radius: 15px;
    }
</style>

@if (Model.IsAdmin)
{

    <form asp-action="Delete" asp-controller="Posts" method="post" asp-route-id="@Model.Id">
        <a style="margin:10px" class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <button type="submit" class="btn btn-sm btn-danger">
            Delete
        </button>
    </form>
}

<div class="article-clean">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                <div class="intro">
                    <h1 class="text-center">@Model.Title</h1>
                    <p class="text-center"><span class="by">by</span> <a href="#">@Model.User.UserName</a><span class="date"> @Model.Time.ToShortDateString()</span></p>
                </div>
                <div class="text">
                    @Html.Raw(Model.Text)
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>


<h4>
    Comments
</h4>
@if (User.Identity.IsAuthenticated)
{
    <hr />
    <form asp-action="AddComment" asp-controller="Posts" asp-route-id="@Model.Id" method="post">
<textarea style="margin:10px" placeholder="Your comment..."
          class="form-control" id="descriptiontext" rows="3" asp-for="NewComment"></textarea>

        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-success" />
        </div>
    </form>
}
@if (Model.Comments != null)
{
    @foreach (var comment in Model.Comments)
    {
        <div style="border:1px solid">
            <div class="intro" style="margin-left:20px">
                <p class=""><span class="by">by</span> <a href="#">@Model.User.UserName</a><span class="date"> @Model.Time.ToShortDateString()</span></p>
            </div>
            <hr />
            <div class="">
                @comment.Text
            </div>
        </div>

    }
}
