@model IEnumerable<aspnet.ViewModel.ShortPostViewModel>

@{
    ViewData["Title"] = "Posts";
}


<div class="row">
    <div class="col-md-2">
        <h1 class="my-4">
            Posts
        </h1>
    </div>
    <div class="col-md-5">
        @if (User.Identity.IsAuthenticated)
        {
            <a class="btn btn-default" style="margin-top:25px" asp-action="Create">Add post</a>
        }
    </div>
</div>

@foreach (var post in Model)
{
    @**
    <hr />
    <div>
        <div style="text-align:end">
            <h5>
                <b>Created by: </b>@post.User.UserName
            </h5>
        </div>
        <div style="text-align:center">
            <h2>
                @post.Title
            </h2>
        </div>
        <div style="display:flex">
            <h4 style="margin-right:auto">
                <b>Created on: </b>@post.Time.ToShortDateString()
            </h4>
            <div style="margin-left:auto">
                <form asp-action="Delete" asp-route-id="@post.PostId" method="post">
                    <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@post.PostId">Details</a>
                </form>
            </div>
        </div>

    </div>
    **@
    <div class="container">

        <!-- Page Heading -->
        <!-- Project One -->
        <div class="row">
            
            <div class="col-md-3">
                <h3>@post.Title</h3>
                <p><b>User: </b>@post.User.UserName</p>
                <p><b>Data: </b>@post.Time.ToShortDateString()</p>
                <a class="btn btn-lg' btn-info" asp-action="Details" asp-route-id="@post.PostId">More</a>
            </div>
        </div>
        <!-- /.row -->

        <hr>
    </div>
}


