@model IEnumerable<aspnet.ViewModel.ShortPostViewModel>

@{
    ViewData["Title"] = "Posts";
}

@if (User.Identity.IsAuthenticated)
{
<div>
    <a style="margin:10px" class="btn btn-sm btn-default" asp-action="Create">Add post</a>
</div>
}

@foreach (var post in Model)
{
    <hr />
    <div>
        <div style="text-align:end">
            <h5>
                <b>Created by: </b>@post.User.UserName
            </h5>
        </div>
        <div style="text-align:center">
            <h2>
                @post.Title
            </h2>
        </div>
        <div style="display:flex">
            <h4 style="margin-right:auto">
                <b>Created on: </b>@post.Time.ToShortDateString()
            </h4>
            <div style="margin-left:auto">
                <form asp-action="Delete" asp-route-id="@post.PostId" method="post">
                    <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@post.PostId">Details</a>
                </form>
            </div>
        </div>
       
    </div>

}


