@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer

@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h2>@Localizer["roles"]</h2>
<table class="table">
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        @Localizer["delete"]
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<a asp-action="Create">@Localizer["add_role"]</a>
<a asp-action="UserList">@Localizer["users_list"]</a>