@model aspnet.ViewModel.DiscussViewModel
@{
    ViewData["Title"] = "Discuss";
}



<h2>@Model.Name</h2>

<h4>@Model.Description</h4>

<hr />

@if (Model.Messages != null)
{
    @foreach (var message in Model.Messages)
    {
        <span style="font-family:'Times New Roman'">
            @message.Text
        </span>
        <hr />
    }
}

@if (User.Identity.IsAuthenticated)
{
<form asp-action="Discuss" asp-controller="Forum" method="post" asp-route-id="@Model.Id" asp-net>
    <input hidden name="UserName" id="UserName" type="text" value="@User.Identity.Name">
    <input hidden value="@Model.Id" name="id" id="id">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-6">&nbsp;</div>
            <div class="col-6">
                <ul id="messagesList"></ul>
            </div>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            @*User..........<input type="text" id="userInput" />
                <br />
                Message...<input type="text" name="messageInput" id="messageInput" />*@
            <textarea style="margin:10px" placeholder="Your comment..."
                      class="form-control" rows="3" name="messageInput" id="messageInput"></textarea>


            <div class="form-group">
                <input type="submit" value="Submit" name="sendButton" class="btn btn-success" id="sendButton" />
            </div>

        </div>
    </div>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
</form>
}